APP_BASE_URL=http://127.0.0.1:8000
GENERATOR_STRATEGY=suno
SUNO_API_TOKEN=replace-with-your-suno-token
SUNO_API_BASE=https://api.sunoapi.org
SUNO_MODEL=V4_5ALL
SUNO_CALLBACK_URL=http://127.0.0.1:8000/api/suno/callback/
